{% if page.image.background %}
  <style type:"text/css">
    html {
      background: url({{ site.url }}/images/{{ page.image.background }}) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;}
    * {
        margin: 0;
    }
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin: 0 0 65px;
      border-top: 5px solid rgba(0,0,0,0.5);;
    }
    footer {
      position:  absolute;
      left: 0;
      bottom: 0;
      height: 65px;
      width: 100%;
      color: #fff;
      background-color:rgba(0,0,0,0.5);
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .footer-wrapper a {
      color: #fff;
    }
    .footer-wrapper a:link {
      color: #fff;
    }
    .footer-wrapper a:visited {
      color: #fff;
    }
    .footer-wrapper a:hover {
      color: #fff;
    }
    .footer-wrapper a:active {
      color: #fff;
    }
    .social-icons a {
      color: #fff;
    }
    .social-icons a:link {
      color: #fff;
    }
    .social-icons a:visited {
      color: #fff;
    }
    .social-icons a:hover {
      color: #fff;
    }
    .social-icons a:active {
      color: #fff;
    }
    .social-icons-wrapper {
      background-color: #000;
    }
    .navigation-wrapper ul {
      background-color:rgba(0,0,0,0.5);
    }
  </style>
{% endif %}