{% if page.image.background %}
  <style type:"text/css">
    html {
      background: url({{ site.url }}/images/{{ page.image.background }}) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;}
    * {
        margin: 0;
    }
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin: 0 0 45px;
    }
    .footer-wrapper {
      position:  absolute;
      left: 0;
      bottom: 0;
      height: 45px;
      width: 100%;
    }
    .social-icons {
      color: #fff;
    }
  </style>
{% endif %}