ul.projects  {
  margin-bottom: 7em;
  li.project {
    list-style:none;
  }
  li.project {
    margin-bottom: 2em;
  }
  li.project h1 {
    font-weight: normal;
    margin: 0;
  }
  .hcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  li.project .icon a {
    width: 7.5em;
  }
  li.project .app-store a {
    width: 6.75em;
    margin-top: 1em;
    margin-bottom: 0;
  }
  li.project .content p {
    margin: 0;
  }
}
