ul.projects  {
  margin-bottom: 7em;
  li.project {
    list-style:none;
  }
  li.project .icon {
  }
  li.project .icon a {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  li.project .app-store {
    width: 18%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  li.project .content {
  }
  li.project .content h1 {
    font-weight: normal;
    margin: 0;
  }
  li.project .content p {
    margin: 0;
  }
}
